<h1><a href="/">Recipe Box</a></h1><br>

<form action="/recipe/<%= @recipe.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Edit Recipe Name</label>
  <input type="text" name="name" id="name"><br><br>
  <label for="ingredients">Edit Ingredients</label>
  <input type="text" name="ingredients" id="ingredients">
  <label for="instructions">Edit Instructions</label>
  <input type="text" name="instructions" id="instructions">

  <button type="submit">Edit</button>
</form>
